@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root {
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Alata', sans-serif;
}

header.cabeçalho {
    width: 100%;
    height: 600px;
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 100px;
}

div.logo-menu {
    display: flex;
    justify-content: space-between;
}

nav.menu-nav a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--White);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    padding-bottom: 2px;
}

nav.menu-nav a:hover {
    border-bottom: 2px solid var(--White);
}

a.icon-hamburger, a.icon-close {
    position: absolute;
    top: -1000px;
}

h1.titulo-cabeçalho {
    border: 2px solid white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 4rem;
    width: 50%;
    margin-top: 150px;
    padding: 30px;
}

section.imagens-aumentadas {
    padding: 100px;
    display: flex;
    width: 100%;
    position: relative;
}

div.imagem-aumentada {
    width: 70%;
}

div.imagem-aumentada img {
    width: 100%;
    height: 100%;
}
div.interação {
    bottom: 20px;
    right: 100px;
    z-index: 1;
    position: absolute;
    width: 40%;
    height: 350px;
    padding: 50px;
    background-color: var(--White);
}

div.interação h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

div.interação p {
    color: var(--Dark-Gray);
}

section.criações {

    padding: 100px;
}

div.titulo-criações {
    display: flex;
    justify-content: space-between;
}

div.titulo-criações h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;

}

div.titulo-criações a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    letter-spacing: 5px;
}

div.titulo-criações a:hover {
    background-color: black;
    color: white;
}

div.grid-imagens {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-row-gap: 50px;
}

figure {
    position: relative;
}

figure img {
    width: 100%;
    height: 100%;
    
}

figure figcaption {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    color: var(--White);
    padding-left: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

figure figcaption:hover {
   background-color: rgba(255,255,255,0.7);
   color: black;
   cursor: pointer;
}

footer.rodapé {
    padding: 50px 100px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

div.links-rodapé {
    margin-top: 50px;
}

div.links-rodapé a {
    text-decoration: none;
    color: var(--White);
    margin-right: 20px;
}

div.redes-sociais a {
    color: var(--White);
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 2px;
}

div.redes-sociais a:hover, div.links-rodapé a:hover {
    border-bottom: 2px solid white;
}

div.redes-sociais a i {
    font-size: 1.5rem;
}

p.copy {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 50px;
}

@media (max-width: 800px) {
    header.cabeçalho {
        background-image: url(images/mobile/image-hero.jpg);
        padding: 50px 0px;
        height: 700px;
    }

    nav.menu-nav {
        display: none;
    }

    a.icon-hamburger {
        display: block;
        margin-right: 20px;
        position: static;
    }

    a.icon-close {
        display: none;
        position: relative;
        z-index: 1;
        margin-right: 20px;
        top: 0px;
    }

    nav.menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid white;
        position: absolute;
        width: 100%;
        height: 700px;
        top: 0px;
        background: url(images/logo.svg) no-repeat top 50px left 20px black;
    }

   div.logo-menu img {
        margin-left: 20px;
    }

    nav.menu-nav a {
        margin-left: 40px;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
    }

    nav.menu-nav a:hover {
        border: none;
        text-decoration: underline;

    }


    h1.titulo-cabeçalho {
        width: 90%;
        margin: 150px auto;
        padding: 10px;

    }

    div.titulo-criações a {
        position: absolute;
        bottom: 20px;
        left: 150px;
    }

    section.imagens-aumentadas {
        flex-direction: column;
        position: static;
        padding: 20px;
        margin-top: 50px;
    }
    div.imagem-aumentada {
        width: 100%;
        
    }

    div.interação {
        position: static;
        width: 100%;
        padding: 50px 20px;
        text-align: center;
        margin-bottom: 0px;
    }

    section.criações {
        padding: 100px 20px;
        position: relative;
        margin-bottom: 50px;
        padding-top: 0px;
    }

    div.titulo-criações {
        flex-direction: column;
        text-align: center;
    }

    div.grid-imagens {
        grid-template-columns: auto;
        justify-content: center;
    }

    footer.rodapé {
        flex-direction: column;
        padding: 50px 20px;
        align-items: center;
    }

    div.logo-linksRodapé {
        margin: auto;
        text-align: center;
    }

    div.links-rodapé {
        flex-direction: column;
        display: flex;
        margin-bottom: 50px;
    }

    div.links-rodapé a {
        margin-bottom: 20px;
    }

    div.links-rodapé a:hover{
        border: none;
        text-decoration: underline;
    }

    div.copy-redes-sociais {
        text-align: center;
       
    }

    div.copy-redes-sociais a {
        margin: 20px;
    }

    
}





